<!DOCTYPE html>
<html>
<head>
    <title>ImageDetailView</title>
    <style>
    	img {
    		max-width: 100%;
    	}
        .cite {
            margin: 2rem 0;
            padding: 2rem;
        }
    </style>
</head>
<body>

{% load filters_jinja %}

<h5>Name:</h5>
{{ object.image.name }}

<img src="{{object.image}}"
	 srcset="{{ object.image|resp_img }}">
<p class='cite'>
 Science, Industry and Business Library: General Collection , The New York Public Library. "The planet Saturn. Observed on November 30, 1874, at 5h. 30m. P.M." The New York Public Library Digital Collections. 1881 - 1882. http://digitalcollections.nypl.org/items/510d47dd-e823-a3d9-e040-e00a18064a99
</p>
</body>
</html>
